.wrapper{
    width: 408px;
    min-height: 620px;

    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


.wrapper .image{
    width: 408px;
    height: 328px;
    object-fit: cover;
}
.wrapper .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.author{
    font-size: 16px;
    font-weight: 500;
}
.date{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #85858D;
}
.title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    font-size: 20px;
    font-weight: 500;
    color: #1A1A1F;
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 5px;
}
    .categories div{
        height: 28px;
        padding: 6px 10px;
        font-size: 12px;
    }

.description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.link{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #5D37F3;
}