.wrapper{
    position: relative;
    width: min-content;
    height: 32px;
    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    border-radius: 30px;
    white-space: nowrap;
}

.wrapper p{
    cursor: pointer;
}

.remove-btn{
    cursor: pointer;
    font-size: 10px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}