@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400,500,700');

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-bc-color1:#F3F2FA;
  --header-BC:rgb(255, 255, 255);
  --button-color-main:#5D37F3;
}

body {
  font-family: 'FiraGO', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* some global style*/
.link-arrow{
  font-size: 16px;
  font-weight: 900;
}
