*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --header-BC:rgb(255, 255, 255);
  --button-color-main:#5D37F3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


