/* global/repetitive styles for this addBlog page*/
.input-style{
    width: 100%;
    padding: 12px;
    background-color: #FCFCFD;
    border: 1.5px solid #E4E3EB;
    border-radius: 12px;
    outline: none;
}
    .input-style:focus{
        border-color: #5D37F3;
    }
/*all spans in this page used for requirements filed*/
.requirements span{
    font-size: 12px;
    font-weight: 400;
    color: #85858D;
}
.input-box{
    width: 288px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* */
.wrapper{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 65px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    background-color: var(--main-bc-color1);
}

.addblog-header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E4E3EB;

    display: flex;
    justify-content: center;
    align-items: center;
}

.addblog-box{
    width: 600px;
    min-height: 928px;
}

/* FORM*/
form{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
form label{
    font-size: 14px;
    font-weight: 500;
    color: #1A1A1F;
}
/* image upload field */
.image-field{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.image-field-header{
    font-weight: 500;
    font-size: 14px;
    color: #1A1A1F;
}
.custom-upload{
    width: 600px;
    height: 180px;
    background-color: #F4F3FF;
    border: 1px dashed #85858D;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    font-size: 14px;
    font-weight: 400;
}
.custom-upload span{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}
.custom-uploaded{
    width:600px;
    height: 56px;
    padding: 16px;

    display: grid;
    grid-template-columns: 24px 1fr 24px;
    column-gap: 12px;
    align-items: center;
    border-radius: 12px;
    background-color: #E4E3EB
}
.file-name{
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.close-image{
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1F;
    cursor: pointer;
    text-align: center;
}

/* author and title field */
.author-and-title{
    width: 100%;
    min-height: 140px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.requirements{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* description area */
.description-box{
    width: 100%;
    min-width: 180px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.description-box textarea{
    width: 100%;
    height: 124px;
    resize: none;
}

/* date and categories*/
.date-and-categorie{
    width: 100%;
    min-height: 72px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* custom dropdown*/
.custom-dropdown-box{
    position: relative;
    width: 100%;
    height: 44px;
    padding: 12px;
    background-color: #FCFCFD;
    border: 1.5px solid #E4E3EB;
    border-radius: 12px;
    outline: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-dropdown-input{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    color: #85858D;
}
.custom-dropdown-arrow{
    position: absolute;
    right: 0;
    top:0;
    width: 40px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: #FCFCFD;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.custom-dropdown-list{
    position: absolute;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    padding: 16px;
    left: 0;
    bottom: -2px;
    transform: translateY(100%);
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #E4E3EB;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
}
/* email */
.email-box{
    width: 288px;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

/* submit btn */
.submit-blog-btn{
    width: 288px;
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #E4E3EB;
    color: #FFFFFF;
    align-self: flex-end;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
}